version: '3'
services:
  # db:
  #   image: mysql:5.7
  #   command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
  #   restart: always
  #   volumes:
  #   - ./mysql-data:/var/lib/mysql
  #   ports:
  #   - "3306:3306"
  #   environment:
  #   - MYSQL_ROOT_PASSWORD=password
  #   - MYSQL_ROOT_HOST=localhost
  #   - MYSQL_DATABASE=app
  #   - MYSQL_USER=user
  #   - MYSQL_PASSWORD=password
  #   - TZ="Asia/Tokyo"
  app:
    build: .
    volumes:
      - ./:/app/
    ports:
      - "8000:8000"
